 .input-field-name , .input-field-confirmPassword{
    width: 100%;
    color: #fff6f6;
    padding: 10px;
    background-color: #333;
    margin-bottom: 15px;
    border: 1px solid #00fff6;
    border-radius: 20px;
    font-size: 18px;
  }